.App {
  text-align: center;
  background: paleturquoise;
  max-width: 1000px;
  margin: 40px auto;
  min-height: 100vh;
  border-radius: 6px;
  border: 2px solid palevioletred;
}

.App h1 {
  font-size: 4rem;
  background: papayawhip;
  margin: 20px auto;
  max-width: 50%;
  border-radius: 6px;
  border: 2px solid palevioletred;
}

.App .projects {
  min-height: 75vh;
  border: 2px solid palevioletred;
  border-radius: 6px;
  margin: 20px;
  background: papayawhip;
}

.App .projects .project {
  margin: 40px auto;
}

.App .projects .project h3{
  font-size: 2rem;
  padding: 20px;
  border-bottom: 2px dashed palevioletred;
}

.App .projects .project h3:hover {
  transform: scale(1.002);
  cursor: pointer;
}

.App .projects .project ul{
  list-style: decimal inside none;
  text-align: left;
}

.App .projects .project li{
  font-size: 1.8rem;
  font-weight: bold;
}

.App .projects .project li p{
  font-size: 1.6rem;
  font-weight: 300;
  background: white;
}



